:root{
--light-cornflower-blue: #8ecae6ff;
--blue-green: #219ebcff;
--prussian-blue: #023047ff;
--selective-yellow: #ffb703ff;
--tangerine: #fb8500ff;
}
html, body {
  height: 100%;
  width: 100%;
	background-color: #023047;
	
}
svg{
	border-radius: 20px;
	box-shadow: 5px 5px 5px var(--tangerine);
}
.main{
	display: flex;
/*	flex-direction:column;*/
	flex-wrap:wrap;
	background-color: var(--prussian-blue)/* #8ecae6 */;
}
.indicator{
	/*background-color: linen;*/
	color: var(--prussian-blue);
	
	font-size:large;
	
	/*text-shadow:2px 2px 2px black;*/
	
}
h1{
	font-size: xx-large;
}
.title{
	color:var(--prussian-blue);
	background-color:var(--tangerine);
	/*font-size: large;*/
	text-align: center;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #8ecae6;
	padding:0%;
	padding-bottom: 2%;
	margin-bottom: 2%;
	width: 50%;
	margin-left: 20%;
	margin-right:20%;/*
	text-overflow: wrap;
	display: flex;*/
}
.indices{
	background-color:var(--selective-yellow);
	border-radius: 20px;
	box-shadow: 5px 5px 5px #8ecae6;
	font-size: x-large;
	/*display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	text-align: center;
	margin-left:5%;
	margin-right:0%;*/
	padding-left:2%;
	padding-right:5%;
	margin-bottom:5%;
	text-overflow: wrap;
	/*flex-shrink:1;*/
	width: 20%;
}
#svg-wrapper{
	/*background-color: black;*/
	
}
#svg-wrapper-duo{
	/*background-color:firebrick;
	border-radius:20px;*/
}
.forma{
	color: #023047;
	background-color:#ffb703;
	font-size: large;
	margin-left:0%;
	margin-right:2%;
	padding-left:2%;
	padding-right:2%;
	margin-bottom:5%;
	border-radius: 35px;
	box-shadow: 5px 5px 5px #8ecae6;
	/*display:flex;*/
	flex-direction:row;
	flex-wrap: wrap;
	/*flex-shrink: 0;*/
	justify-content: center;
	width: 20%;
}
button{
	color: #023047;
	font-size: large;
	background-color: cadetblue;
	box-shadow: 2px 2px 2px #023047;
	border-radius: 5px;
}
.fenetre{
	margin-left:2%;
	margin-right:0%;/*
	margin-top:%;*/
}
.switch{
	position:relative;
	display: inline-block;
	width:60px;
	height:27px;
}
.switch input{
	opacity: 0;
	width: 0;
	height:0;
}
.slider{
	position: absolute;
	cursor:pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	background-color:#ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before{
	position:absolute;
	content:"";
	height:26px;
	width: 26px;
	left:4px;
	background-color:white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider{
	background-color:#2196f3;
}
input:focus + .slider{
	box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before{
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.slider.round{
	border-radius:34px;
}
.slider.round:before{
	border-radius: 50%;
}